* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

body {
  background: url(./imgs/bg.jpg) no-repeat center/100% fixed;
  color: red;
}

.demo {
  display: flex;
  backface-visibility: hidden;
}
